* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  font-size: 1.6rem;
  margin: 2rem;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

article {
  background-color: #fff;
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  width: 40rem;
  max-height: 27rem;
  overflow-y: auto;
  transition: max-height 1s;
}

article.open {
  max-height: 90rem;
}

button {
  background-color: #3e6049;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  margin-top: 1rem;
}